h1#a1{
    color:blue;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
}
h2#a2{
    color:red;
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
}
h1#a3{
    color:yellow;
    width: 400px;
    height: 400px;
    background-color: aqua;
}
h1#a4{
    color:green;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}
h1#a5{
    color:blue;
    width: 400px;
    height: 400px;
    background-color: azure;
}
h1#a6{
    color:chartreuse;
    width: 400px;
    height: 400px;
    background-color: chocolate;
}
h1#a7{
    color:darkblue;
    width: 400px;
    height: 400px;
    background-color: darkgray;
}
h1#a8{
    color:magenta;
    width: 400px;
    height: 400px;
    background-color: floralwhite;
}
h1#a9{
    color:deeppink;
    width: 400px;
    height: 400px;
    background-color: honeydew;
}
h1#a10{
    color:lavenderblush;
    width: 400px;
    height: 400px;
    background-color: lightgreen;
}
 